

<html>

<head>

<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript">
{%if Feeder%}
scoreFeeder.__init__()
{%else%}
renderScore.updateOnInTerval()
{%endif%}
</script>

</head>

<body>

		<div class="o">	
		<div class="ex n nB" id="A"  >	Team A <br/><span class='score'>{{scores.teamA.Team_A_score}}	</span>		<br/> <span class='serve'>	</span>		<br/>  <span class ='rslt'>	</span>	<br/><span class="adv"> </span>	<br/><span class="win"> </span></div>
 
			<div class="ex players"  >
			
				
			
				<div class="n" id="A2"  style="    	     height: 50%;      width: 100%; "  > <img  src="{{scores.teamA.playerInfo.A2.img}}" width ="40%" />	<br/><span >{{scores.teamA.playerInfo.A2.names}}	</span>	 <br/><span class='score'>{{scores.teamA.playersPerformances.A2_score}}	</span>	<br/></div>
				<div class="n" id="A1"  style=" 	     height: 50%;      width: 100%; " >	<img  src="{{scores.teamA.playerInfo.A1.img}}" width ="40%" />	<br/><span > {{scores.teamA.playerInfo.A1.names}}	</span><br/><span class='score'>{{scores.teamA.playersPerformances.A1_score}}	</span></div>
			</div>
		
		<div class="ex players"  >
			
			<div class="n" id="B2"  style="        height: 50%;    width: 100%; "><img  src="{{scores.teamB.playerInfo.B2.img}}" width ="40%" />	<br/><span >	{{scores.teamB.playerInfo.B2.names}}	</span><br/><span class='score'>{{scores.teamB.playersPerformances.B2_score}}</span></div>
			
			<div class="n" id="B1"  style="       height: 50%;      width: 100%;"><img  src="{{scores.teamB.playerInfo.B1.img}}" width ="40%" />	<br/><span >	{{scores.teamB.playerInfo.B1.names}}	</span> <br/><span class='score'>{{scores.teamB.playersPerformances.B1_score}}	</span></div>
		</div>
		<div  class="ex n nB" id="B" >	Team B	<br/><span class='score'>{{scores.teamB.Team_B_score}}	</span>		<br/> <span class='serve'>	</span>		<br/>  <span class ='rslt'>	</span>	<br/><span class="adv"> </span> 	<br/><span class="win"> </span></div>
		</div>




</body>
</html>