

<html>

<head>

<script type="text/javascript" src="/static/js/jquery.js"></script>


		<style type="text/css">
			div.o{
				width:100%;
				
				height:100%;
			     }
			div.ex
			    {
				width:14%;
				
				border:5px solid gray;
				text-align:center;
				float:left;
				height:52%;
		            }
			div.n{
					background-color:#d0e4fe;
                                        cursor:pointer;
			}
			div.nB{
					background-color:#d0e4aa;
					cursor:pointer;
			}

			div.n:hover,div.nB:hover{
					
			}
			div.n.onClickWait,div.nB.onClickWait{
					
			}
			.players{position:relative;}
			.players .n{

				position:absolute;
				top:0;

			}
			.players .n#B2,.players .n#A1{

				top:50%;
			}
			.players .n#B1,.players .n#A2{

				top:0;
			}

		</style>






<script type="text/javascript">


$(document).ready(function()
{
$("div.n").live("click", function()
	{
	var tr=$(this).attr("id");
	 $("#tr").animate({fontSize:"1.5em"},"slow");
var data =$(this).find(".score").html();
        $(this).find(".score").html(data+1);
	$.ajax({
  		type: "POST",
  		url: "",
  		data: { 'updateString':tr?(tr+"+"):""},
		dataType:"json",
		success: function(msg)
			{
			console.log(msg)

			msg['teams'][1]
			msg['teams'][2]
			
			$('#A .score').html(msg['teams'][0]['Team_A_score'])
			$('#A1 .score').html(msg['teams'][0]['playersPerformances']['A1_score'])
			$('#A2 .score').html(msg['teams'][0]['playersPerformances']['A2_score'])
			$('#B1 .score').html(msg['teams'][1]['playersPerformances']['B1_score'])
			$('#B2 .score').html(msg['teams'][1]['playersPerformances']['B2_score'])
			$('#B .score').html(msg['teams'][1]['Team_B_score'])
			
			if (msg['teams'][0]['players'][1] == 'A1' &&  $('#A2').css("top") == "0px")
				
				{ 
					$('#A1').css("top","0")

					$('#A2').css("top","50%")					
				}
				
			

			if (msg['teams'][1]['players'][1] == 'B1' && $('#B2').css("top") != "0px" )
				{ 
					$('.players .n#B2').css("top","0%")
					
					$('.players .n#B1').css("top","50%")					
				}
			
			if (msg['teams'][0]['players'][0] == 'A1' &&  $('#A1').css("top") == "0px")
				
				{ 
					$('#A2').css("top","0px")

					$('#A1').css("top","50%")					
				}
				
			

			if (msg['teams'][1]['players'][0] == 'B1' && $('#B1').css("top") != "0px" )
				{ 
					$('.players .n#B2').css("top","50%")
					
					$('.players .n#B1').css("top","0px")					
				}
		
			if (msg['teams'][0]['Team_A_score']==21)
				{
				$('#A .rslt').html("Win")
				}
			if (msg['teams'][1]['Team_B_score']==21)
				{
				$('#B .rslt').html("Win")
				}
			if (msg['teams'][0]['currentServing'])
			
				{
				$('#A .serve').html("Serving")	
				}
			else
				{
				$('#A .serve').html("")
				}
			if (msg['teams'][1]['currentServing'])
			
				{
				$('#B .serve').html("Serving")	
				}
       			else	
				{
				$('#B .serve').html("")
				}

			if(msg['teams'][0]['advantage'])
				{
                                $('#A .adv').html("adv")
				}
			else
				{
				$('#A .adv').html("")
				}
			
			if(msg['teams'][1]['advantage'])
				{
                                $('#B .adv').html("adv")
				}
			else
				{
				$('#B .adv').html("")
				}
			if(msg['teams'][0]['win'])
				{
                                $('#A .win').html("Win")
				}
			else
				{
				$('#A .win').html("")
				}
			if(msg['teams'][1]['win'])
				{
                                $('#B .win').html("win")
				}
			else
				{
				$('#B .win').html("")
				}

			}
		
		})
	}
	);
}
);





</script>

</head>

<body>

		<div class="o">	
		<div class="ex n nB" id="A"  >	Team A <br/><span class='score'>{{scores.teamA.Team_A_score}}	</span>		<br/> <span class='serve'>	</span>		<br/>  <span class ='rslt'>	</span>	<br/><span class="adv"> </span>	<br/><span class="win"> </span></div>
 
			<div class="ex players"  >
			
				
			
				<div class="n" id="A2"  style="    	     height: 50%;      width: 100%;	">	A2	<br/><span class='score'>{{scores.teamA.playersPerformances.A2_score}}	</span>	<br/></div>
				<div class="n" id="A1"  style=" 	     height: 50%;      width: 100%;	" >	 A1	<br/><span class='score'>{{scores.teamA.playersPerformances.A1_score}}	</span></div>
			</div>
		
		<div class="ex players"  >
			
			<div class="n" id="B2"  style="        height: 50%;    width: 100%;">	B2	<br/><span class='score'>{{scores.teamB.playersPerformances.B2_score}}</span></div>
			
			<div class="n" id="B1"  style="       height: 50%;      width: 100%;">	B1	<br/><span class='score'>{{scores.teamB.playersPerformances.B1_score}}	</span></div>
		</div>
		<div  class="ex n nB" id="B" >	Team B	<br/><span class='score'>{{scores.teamB.Team_B_score}}	</span>		<br/> <span class='serve'>	</span>		<br/>  <span class ='rslt'>	</span>	<br/><span class="adv"> </span> 	<br/><span class="win"> </span></div>
		</div>




</body>
</html>